name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ruff-check:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
    - name: Checkout workspace
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'

    - name: Lint step
      uses: ./.github/actions/
      with:
        script: 'ruff check .'
